body{font-family:arial}
.ui-progressbar {
position: relative;
}

.progress-label-genCryptoKey {
position: absolute;
left: 50%;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
color:#aaa;
}

.progress-label-genSigningKey {
position: absolute;
left: 50%;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
color:#aaa;
}

.progress-label-genBallots {
position: absolute;
left: 50%;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
color:#aaa;
}

.progress-label-auditBallots {
position: absolute;
left: 50%;
top: 4px;
font-weight: bold;
text-shadow: 1px 1px 0 #fff;
color:#aaa;
}
.component {
border-style:groove;
border-width:2px;
width:800px;
background-color:lightgrey;
position:relative;
padding:4px;
}

.disablingDiv
{
    
    /* Display it on the layer with index 1001.
       Make sure this is the highest z-index value
       used by layers on that page */
    z-index:1001;
    
    /* make it cover the whole screen */
    position: absolute; 
   
width: 100%;
height: 100%;
    /* make it white but fully transparent */
    background-color: white; 
    opacity:.80; 
    filter: alpha(opacity=80); 
}
